In [1]:
# Read a CSV File and Manipulating DataFrames using Pandas
import pandas as pnd
data=pnd.read_csv('C:\\Users\\Ajeet\\Downloads\\AnkurCSFile.csv')
print(data.head())

   SL No.         Std Name  Roll No.  Maths  Physics  Chemistry  \
0       1      Ankur Yadav      26.0     67       66         74
1       2       Ajeet Ojha      10.0     78       47         67
2       3  Priyanshu Yadav      81.0     72       61         74
3       4    Aditya Pathak       NaN     55       69         45
4       5     Nikhil Yadav      64.0     78       51         56

   Data Structure  OOPs  Obtained Marks  Total Marks Grade
0              73    79             359          600     A
1              45    78             315          600     A
2              53    34             294          600     B
3              75    54             298          600     B
4              55    35             275          600     B

In [2]:
# Simple Data Cleaning tasks
# handling misssing values
print(data.isnull().sum())      #cheak for missing values
data_filled=data.fillna(0)      #Fill missing value with 0
data_dropped=data.dropna()      #drop row with missing values
print(data_filled.head())       #display the cleaned data frame

SL No.            0
Std Name          0
Roll No.          1
Maths             0
Physics           0
Chemistry         0
Data Structure    0
OOPs              0
Obtained Marks    0
Total Marks       0
Grade             0
dtype: int64
   SL No.         Std Name  Roll No.  Maths  Physics  Chemistry  \
0       1      Ankur Yadav      26.0     67       66         74
1       2       Ajeet Ojha      10.0     78       47         67
2       3  Priyanshu Yadav      81.0     72       61         74
3       4    Aditya Pathak       0.0     55       69         45
4       5     Nikhil Yadav      64.0     78       51         56

   Data Structure  OOPs  Obtained Marks  Total Marks Grade
0              73    79             359          600     A
1              45    78             315          600     A
2              53    34             294          600     B
3              75    54             298          600     B
4              55    35             275          600     B

In [3]:
# Simple Data Cleaning tasks
# removing duplicate values
data_remove=data.drop_duplicates()
print(data_remove.head())

   SL No.         Std Name  Roll No.  Maths  Physics  Chemistry  \
0       1      Ankur Yadav      26.0     67       66         74
1       2       Ajeet Ojha      10.0     78       47         67
2       3  Priyanshu Yadav      81.0     72       61         74
3       4    Aditya Pathak       NaN     55       69         45
4       5     Nikhil Yadav      64.0     78       51         56

   Data Structure  OOPs  Obtained Marks  Total Marks Grade
0              73    79             359          600     A
1              45    78             315          600     A
2              53    34             294          600     B
3              75    54             298          600     B
4              55    35             275          600     B

In [4]:
# Basic Data Manipulation Operation
# Filtering data
filter_data=data[data['Obtained Marks']>300]
print(filter_data.head())
print("\n")

# sorting data
sort_data=data.sort_values(by='Obtained Marks', ascending=True)
print(sort_data.head())
print("\n")

# grouping data
group_data=data.groupby('Grade')['Obtained Marks'].mean()
print(group_data)

   SL No.        Std Name  Roll No.  Maths  Physics  Chemistry  \
0       1     Ankur Yadav      26.0     67       66         74
1       2      Ajeet Ojha      10.0     78       47         67
6       7     Rohit Patel      90.0     85       76         37
8       9     Shiva Singh     103.0     69       87         79
9      10  Abhishek Yadav       3.0     52       62         54

   Data Structure  OOPs  Obtained Marks  Total Marks Grade
0              73    79             359          600     A
1              45    78             315          600     A
6              47    86             331          600     A
8              35    87             357          600     A
9              76    74             318          600     A


   SL No.          Std Name  Roll No.  Maths  Physics  Chemistry  \
4       5      Nikhil Yadav      64.0     78       51         56
7       8       Rahul Patel      81.0     64       56         68
2       3   Priyanshu Yadav      81.0     72       61         74
5       6  Satyam Kumar Dev      93.0     65       45         86
3       4     Aditya Pathak       NaN     55       69         45

   Data Structure  OOPs  Obtained Marks  Total Marks Grade
4              55    35             275          600     B
7              65    37             290          600     B
2              53    34             294          600     B
5              45    54             295          600     B
3              75    54             298          600     B


Grade
A    337.714286
B    290.400000
Name: Obtained Marks, dtype: float64